<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="org.dita-community.dita2docx" version="^version^">
  
  <feature extension="package.support.name" value="Eliot Kimber"/>
  <feature extension="package.support.email" value="ekimber@contrext.com"/>  
  
  <require plugin="org.dita.html5"/>
  
  <transtype name="dc-docx">
    <param name="dc.dita2docx.dotx" 
      type="uri"
      desc="Specifies the DOTX Word template to use in constructing the result DOCX files. Default is built-in DITA-specific DOTX."
      required="false"
    />
    <param name="dc.dita2docx.xsl" 
      type="uri"
      desc="Specifies the HTML-to-SWPX transform to use in place of the built-in transform."
      required="false"
    />
    <param name="dc.dita2docx.chunkLevel"
      type="enum"
      desc="Specifies the hierarchical level down to which to make individual DOCX files."
      required="false"
    >
      <val desc="Produce a single result DOCX file (one chunk)" default="true">root</val>
      <val desc="Chunk on 1st-level divisions">1</val>
      <val desc="Chunk down to 2nd-level divisions">2</val>
      <val desc="Chunk down to 3rd-level divisions">3</val>
      <val desc="Chunk down to 4th-level divisions">4</val>
      <val desc="Chunk down to 5th-level divisions">5</val>
    </param>
  </transtype>
  
  <extension-point id="xsl.dc.dita2docx" name="HTML5 to SWPX transform extension point"/>
  <!-- NOTE: Use normal HTML5 extensions in your own plugin to customize how the HTML is 
             generated.
    -->
  
  <extension-point id="dita.conductor.dc-dita2docx.html5.param" 
    name="Additional parameters for the base HTML5 transform (see org.dita.html5 documentation for details)"
  />
  <extension-point id="dita.conductor.dc-dita2docx.wordinator.param" 
    name="Additional parameters for the Wordinator transform"
  />
  
  <template file="build_dita2docx_template.xml"/>
  <template file="xsl/dita2docx_template.xsl"/>
  
  <feature extension="dita.conductor.transtype.check" value="dc-docx" type="text"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>
  
</plugin>
